

body {
	background-color: #80ffff;
}
	
input {
  width: 80px;
  height: 100px;
  font-size: 50px;
  text-align: center;
}

button {
  width: 90px;
  height: 60px;
  text-align: center;
}

#error {
	font-size: 20px;
	color: red;
	display: none;
	font-weight: bold;
	text-align: center;
}

#countdownSection, #timerSection {
	text-align: center;
}


#h, #s, #m, .col {
	display: inline-block;
	font-size: 100px;
}

#message {
	font-size: 50px;
	color: red;
	display: none;
	font-weight: bold;
	text-align: center;
}